.fonts-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared css */
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.common-btn {
  border: none;
  font-size: 20px;
  border-radius: 5px;
  background: #fd6e0a;
  padding: 18px 35px;
}
.section-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  margin: 10px 0 22px 0;
  text-transform: capitalize;
}
.section-para {
  font-size: 14px;
  color: #757575;
  line-height: 30px;
  padding: 0 10px;
  width: 96%;
  margin: 0 auto;
  margin-bottom: 15px;
}
/* Nav here */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style-type: none;
  margin-right: 44px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}

/* about start here */
.about-section {
  background: #fff8f3;
  margin: 100px 200px;
  padding: 100px 150px;
  border-radius: 10px;
}
.about-wrapper {
  max-width: 827px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
}
.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-info {
  display: flex;
  justify-content: space-between;
}
.about-info {
  padding: 0 15px 15px 15px;
}
.about-info-box p,
.about-info-box h6 {
  color: #757575;
  font-size: 16px;
  margin-bottom: 10px;
}
.about-info-box h6 {
  font-weight: 800;
  color: #474747;
}
/* about end here */
